{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["emotion", { "sourceMap": true, "inline": true }]
  ]
//  "env": {
//    "production": {
//      "plugins": [
//        "emotion",
//        "transform-react-constant-elements"
//      ]
//    }
//  }
}
