{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "object-curly-spacing": [2, "always"],
    "react/prop-types": [2, { "ignore": ["children", "className", "style"] }]
  }
}
